<p id="notice"><%= notice %></p>

<h1>Cusstomers</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Profile</th>
      <th>Compañy size</th>
      <th>Doc month</th>
      <th>Help you</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cusstomers.each do |cusstomer| %>
      <tr>
        <td><%= cusstomer.rut %></td>
        <td><%= cusstomer.name %></td>
        <td><%= cusstomer.last_name %></td>
        <td><%= cusstomer.phone %></td>
        <td><%= cusstomer.email %></td>
        <td><%= cusstomer.profile %></td>
        <td><%= cusstomer.compañy_size %></td>
        <td><%= cusstomer.doc_month %></td>
        <td><%= cusstomer.help_you %></td>
        <td><%= link_to 'Show', cusstomer %></td>
        <td><%= link_to 'Edit', edit_cusstomer_path(cusstomer) %></td>
        <td><%= link_to 'Destroy', cusstomer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cusstomer', new_cusstomer_path %>
