<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @cusstomer.rut %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cusstomer.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @cusstomer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cusstomer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cusstomer.email %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @cusstomer.profile %>
</p>

<p>
  <strong>Compañy size:</strong>
  <%= @cusstomer.compañy_size %>
</p>

<p>
  <strong>Doc month:</strong>
  <%= @cusstomer.doc_month %>
</p>

<p>
  <strong>Help you:</strong>
  <%= @cusstomer.help_you %>
</p>

<%= link_to 'Edit', edit_cusstomer_path(@cusstomer) %> |
<%= link_to 'Back', cusstomers_path %>
