<%= form_with(model:[employee, laboralrelation], local: true) do |form| %>
  <% if laboralrelation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laboralrelation.errors.count, "error") %> prohibited this laboralrelation from being saved:</h2>

      <ul>
      <% laboralrelation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='container'>
        <div class="form-row">
          <div class="form-group col-md-4">
              <%= form.label "Fecha Inicio" %>
              <%= form.date_field :date_ini,class: 'form-control', placeholder: '01/01/0001',maxlength: 10,size: 10 %>
         </div>
          <div class="form-group col-md-4">
              <%= form.label "Fecha Inicio" %>
              <%= form.text_field :date_finish,class: 'form-control', placeholder: '01/01/0001',maxlength: 10,size: 10 %>
         </div>
         <div class="form-group col-md-4">
              <%= form.label :afp_id,"AFP" %>
              <%= form.select :afp_id, options_for_select(@afp), { prompt: 'AFP'},class: 'form-control' %>
        </div>
       </div>
     <div class="form-row">
          <div class="form-group col-md-4">
              <%= form.label :health_id,"Salud" %>
              <%= form.select :health_id, options_for_select(@salud), { prompt: 'Seguro Salud' },class: 'form-control' %>
          </div> 
           <div class="form-group col-md-4">
              <%= form.label "Sueldo Base" %>
              <%= form.text_field :base_salary,class: 'form-control', placeholder: '0000000',maxlength: 7,size: 7 %>
          </div>
          <div class="form-group col-md-4">
                <%= form.label "Estado" %>
                <%= form.text_field :status,class: 'form-control', placeholder: 'Activo',maxlength: 7,size: 7 %>
         </div>
     </div>
           <%= form.label "Contrato Indefinido" %>
           <%= form.check_box :undefined %>

                  <div class="actions text-center">
                    <%= form.submit "Enviar", class:"btn btn-primary actions" %>
                  </div>

  </div>
<% end %>
