<p id="notice"><%= notice %></p>

<h1>Laboralrelations</h1>

<table>
  <thead>
    <tr>
      <th>Undefined</th>
      <th>Date ini</th>
      <th>Date finish</th>
      <th>Base salary</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboralrelations.each do |laboralrelation| %>
      <tr>
        <td><%= laboralrelation.undefined %></td>
        <td><%= laboralrelation.date_ini %></td>
        <td><%= laboralrelation.date_finish %></td>
        <td><%= laboralrelation.base_salary %></td>
        <td><%= laboralrelation.status %></td>
        <td><%= link_to 'Show', laboralrelation %></td>
        <td><%= link_to 'Edit', edit_laboralrelation_path(laboralrelation) %></td>
        <td><%= link_to 'Destroy', laboralrelation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laboralrelation', new_laboralrelation_path %>
