<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="formulario">
  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut %>
  </div>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ApellidoP %>
    <%= form.text_field :father_name %>
  </div>

  <div class="field">
    <%= form.label :ApellidoM %>
    <%= form.text_field :mother_name %>
  </div>

  <div class="field">
    <%= form.label :Fecha_Inicio %>
    <%= form.text_field :date_ini %>
  </div>

  <div class="field">
    <%= form.label :Nacionalidad %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo %>
  </div>
 <div class="field">
    <%= form.label :location_id, " Localidad"%>
     <%= form.select :location, options_for_select(@cities), prompt: 'select an option' %>
  </div> 
  <div class="field">
    <%= form.label :Direccion %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :Celular %>
    <%= form.text_field :phone_fix %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :charges %>
    <%= form.text_field :charges %>
  </div>
  <div class="field">
    <%= form.label 'Crear contrato'%>
    <%= form.check_box :contrato %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>

