<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='container'>
        <div class="form-row">
          <div class="form-group col-md-4">
                  
                    <%= form.label "Rut" %>
                    <%= form.text_field :rut,class: 'form-control', placeholder: '11111111-1',maxlength: 10, size: 10  %>
            </div>
            <div class="form-group col-md-4">
                  
                    <%= form.label "Nombre" %>
                    <%= form.text_field :name,class: 'form-control', placeholder: 'Nombre',maxlength: 20,size: 20 %>
            </div>
            <div class="form-group col-md-4">
                  
                    <%= form.label "Apellido Paterno" %>
                    <%= form.text_field :father_name,class: 'form-control', placeholder: 'Apellido 1',maxlength: 20,size: 20%>
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
                    <%= form.label "Apellido Materno" %>
                    <%= form.text_field :mother_name,class: 'form-control', placeholder: 'Apellido 2',maxlength: 20,size: 20 %>
            </div>
            <div class="form-group col-md-4">
                    <%= form.label "Fecha Inicio" %>
                    <%= form.date_field :date_ini,class: 'form-control', placeholder: '01/01/0001',maxlength: 10,size: 10 %>
            </div>
            <div class="form-group col-md-4">
                    <%= form.label "Nacionalidad" %>
                    <%= form.text_field :nationality,class: 'form-control', placeholder: 'Nacionalidad',maxlength: 20,size: 20 %>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                      <%= form.label "Sexo" %>
                      <%= form.text_field :sexo,class: 'form-control', placeholder: 'F-M-I',maxlength: 1,size: 1 %>
            </div>
            <div class="form-group col-md-4">
                      <%= form.label :location_id, " Ciudad"%>
                      <%= form.select :location, options_for_select(@cities), { prompt: 'Ciudad'}, id:"city",class: 'form-control' %>
            </div> 
            <div class="form-group col-md-4">     
                    <%= form.label :location_id, " Comuna"%>
                    <%= form.select :location, options_for_select(@cities), { prompt: 'Comuna'}, id:"location",class: 'form-control' %>
            </div> 
        </div>  
        <div class="form-row">
          <div class="form-group col-md-4">
                  <%= form.label "Direccion" %>
                    <%= form.text_field :address,class: 'form-control', placeholder: 'Dirección',maxlength: 20,size: 20 %>
          </div>

          <div class="form-group col-md-4">
                    <%= form.label "Celular" %>
                    <%= form.text_field :phone_fix,class: 'form-control', placeholder: '91111111',maxlength: 8,size: 8 %>
          </div>
          <div class="form-group col-md-4">
                    <%= form.label "Teléfono Fijo" %>
                    <%= form.text_field :phone,class: 'form-control', placeholder: '222222222',maxlength: 9,size: 9 %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">         
                    <%= form.label "Email" %>
                    <%= form.email_field :email,class: 'form-control', placeholder: 'xx@xx.xx' %>
          </div>
          <div class="form-group col-md-6">
                    <%= form.label "Nº Cargas Familiares" %>
                    <%= form.text_field :charges,class: 'form-control', placeholder: '0-9',maxlength: 1,size: 1 %>
          </div>
        </div>     
                    <%= form.label 'Crear contrato'%>
                    <%= form.check_box :contrato %>
          

                  <div class="actions text-center">
                    <%= form.submit "Enviar", class:"btn btn-primary actions" %>
                  </div>
</div>
<% end %>

