<p id="notice"><%= notice %></p>
<div class="employee-form margen-bajo ">
   <h1>Empleados</h1>
<div class='bienvenido'>
        <p>Pertenecen a</p>
        <p> <%= current_user.company.name %></p>
  </div>
<div class='table-responsive margen_abajo'>
    <table class='table table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Fecha de Inicio</th>
      <th>Nationalidad</th>
      <th>Sexo</th>
      <th>Dirección</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Carga</th>
      <th>Contrato</th>
      <th>Acción</th>
      <th>Mostrar</th>
      <th>Actualizar</th>
      <th>Eliminar</th>
      <th colspan="17"></th>
    </tr>
  </thead>

  <tbody>
   <% unless @contract.nil? %>
     
   
    <% @contract.each do |employee| %>
      <tr>
        <td><%= employee.rut %></td>
        <td><%= employee.name %></td>
        <td><%= employee.father_name %></td>
        <td><%= employee.mother_name %></td>
        <td><%= employee.date_ini %></td>
        <td><%= employee.nationality %></td>
        <td><%= employee.sexo %></td>
        <td><%= employee.address %></td>
        <td><%= employee.phone_fix %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.email %></td>
        <td><%= employee.charges %></td>

        <% if employee.laboralrelation.any? %>
        <td><%= ' tiene contrato'%></td>
        <td><%= 'Dejar igual'%></td>
        <% else %>
        <td><%= 'No tiene contrato' %></td>
        <td><%= link_to 'Contrato', new_employee_laboralrelation_path(employee) %></td>
        <% end %>
       
        
     
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
       
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="employee-form">
    <%= paginate @contract %>
    <%= link_to 'Home', homes_index_path, class:"btn btn-outline-light btn-primary text-center" %>
  </div>

</div>
