<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Rut</th>
      <th>Name</th>
      <th>Father name</th>
      <th>Mother name</th>
      <th>Date ini</th>
      <th>Nationality</th>
      <th>Sexo</th>
      <th>Address</th>
      <th>Phone fix</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Charges</th>
      <th>Contrato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% unless @contract.nil? %>
     
   
    <% @contract.each do |employee| %>
      <tr>
        <td><%= employee.rut %></td>
        <td><%= employee.name %></td>
        <td><%= employee.father_name %></td>
        <td><%= employee.mother_name %></td>
        <td><%= employee.date_ini %></td>
        <td><%= employee.nationality %></td>
        <td><%= employee.sexo %></td>
        <td><%= employee.address %></td>
        <td><%= employee.phone_fix %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.email %></td>
        <td><%= employee.charges %></td>
       <% if employee.laboralrelation_id.nil? %>
        <td><%= 'no tiene contrato'%></td>
        <td><%= link_to 'New Laboralrelation', new_employee_laboralrelation_path(employee) %></td>
        <%else%>
        <td><%= 'tiene contrato' %></td>
        <% end %>
        
     
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
       
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
<%= link_to 'Home', homes_index_path, class:"btn btn-outline-light btn-primary text-center" %>
