<p id="notice"><%= notice %></p>

<div class="employee-form margen-bajo">
        <h1>Creación Exitosa !!!</h1>
    
<div class="container">
   <div class=" form-cons">
<p>
  <strong>Rut:</strong>
  <%= @employee.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @employee.father_name %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @employee.mother_name %>
</p>

<p>
  <strong>Fecha Inicio:</strong>
  <%= @employee.date_ini %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @employee.nationality %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @employee.sexo %>
</p>
<p>
  <strong>Ciudad:</strong>
  <%= @employee.location.name%>
</p>
<p>
  <strong>Comuna:</strong>
  <%= @employee.location.father_name %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @employee.phone_fix %>
</p>

<p>
  <strong>Telefóno:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Cargas:</strong>
  <%= @employee.charges %>
</p>
</div>
  </div>
 </div> 
    <div class="employee-form">
      
      <%= link_to 'Home', homes_index_path , class:"btn btn-outline-light btn-primary text-center" %>
    </div>
