




<%=form_with(model: quotation, local: true) do |form| %>
  <% if quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% quotations.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class='container'>
     <div class="form-row">
        <div class="form-group col-md-6 field">
              <%= form.label :Nombre,"Nombre" %>
              <%= form.text_field :name %>
       </div>
       <div class="form-group col-md-6 field">
              <%= form.label :Apellido,"Apellido" %>
              <%= form.text_field :last_name %>
        </div>
    </div><br>
    <div class="form-row">
       <div class="form-group col-md-6 field">
        <%= form.label :Telefono,"Telefono" %>
        <%= form.text_field :phone %>
      </div>
      <div class="form-group col-md-6 field">
        <%= form.label :email,"Email" %>
        <%= form.email_field :email %>
      </div>
     </div><br>
    <div class="form-row"> 
        <div class="form-group col-md-6 field">
            <%= form.label :Compañia,"Compañia" %>
            <%= form.text_field :compañy_size %>
       </div>
       <div class="form-group col-md-6 field">
            <%= form.label :Documentos,"Documentos mensuales" %>
            <%= form.text_field :doc_month %>
       </div>
    </div><br>
     <div class="form-row"> 
       <div class="form-group col-md-6 field">
          <%= form.label :Descripcion,"Consulta" %>
          <%= form.text_field :help_you %>
       </div>
       <div class="form-group col-md-6 field">
          <%= form.label :Perfil,"Perfil" %>
          <%= form.text_field :profile %>
       </div>
     </div><br>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>


