
     
    <nav class='fix-top'>
      
        <div class="container sinpadding">
        
        <input id="responsive-menu" type="checkbox">
            
        <label for="responsive-menu"><%= image_tag("eldescueve.png",:alt => "idea", class:"pr-5") %><%=  link_to image_tag("login.png",:size => "120x40",:alt => "idea", class:"text-center", class:"pr-5"), user_session_path %><span id="menu-icon"></span></label>

        <div id="overlay"></div>
        <ul>
            <li><%= link_to 'Cotiza con nosotros', quotations_quotes_path%></li>
            <li><%= link_to 'links de interes',quotations_index_path, :id => "links"%></li>
            <li><%= link_to 'Login', quotations_login_path%></li>
            <li><%= link_to 'Porque elegirnos',quotations_index_path, :id => "confiar"%></li>
            <li><%= link_to 'Conoce nuestros planes contables y tributarios',quotations_planes_path, :id => "confiar"%></li>
            <li><%= link_to 'Conoce nuestros planes web',quotations_planes_path, :id => "confiar"%></li>
            <li><%= link_to 'Contactanos',quotations_planes_path, :id => "confiar"%></li>
        </ul>
        <ul id="social-media">
         
            <li>
                <a href="https://twitter.com/erin_e_sullivan">
                    <i class="fab fa-twitter"></i>
                    <span class="screen-reader-text">Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/erinesullivan1">
                    <i class="fab fa-linkedin"></i>
                    <span class="screen-reader-text">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/erin_e_sullivan/">
                    <i class="fab fa-instagram"></i>
                    <span class="screen-reader-text">Instagram</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

