 <nav class='fix-top'>
         
        <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <%= image_tag("eldescueve.png", :alt => "idea")%>
         <hr>
         
         <br>
        <ul>
                    <li><%= link_to 'Login', user_session_path %></li>
                    <li><%= link_to 'Cotización', quotations_new_path %></li>
                    <li><%= link_to 'links de interes',homes_index_path, :id => "links"%></li>
                    <li><%= link_to '6 Motivos',homes_index_path, :id => "confiar"%></li>
                    <li><%= link_to 'Planes contables',homes_planes_path, :id => "confiar"%></li>
                    <li><%= link_to 'Planes web',homes_planes_path, :id => "confiar"%></li>
                    <li><%= link_to 'Contactanos',homes_planes_path, :id => "confiar"%></li>
                    
            </ul>





        </div>

        <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Menú</button>
        </div>
        
</nav>