 
 <div class="barra">
     <div class="contenedor-nav clearfix">
       <div class="logo">
           <%= image_tag("eldescueve.png", :alt => "idea")%>
       </div>
        <div class="menu-movil">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>

        </div>
        <nav class="navegacion-principal">
            <table>   
             <tr>
              <td class="text-width">
                 <% if user_signed_in? && current_user.admin == true%>
                   
                   <td><%= link_to 'Cotizaciones  ', quotations_index_path %></td>
                   <td><%= link_to 'Empresa Nueva  ', new_company_path %></td>
                   <td><%= link_to 'Listado Empresas  ', companies_path %></td>
                   <% else%>
                       <% if user_signed_in? %>
                         <td><%= link_to 'Empleado  ', new_employee_path %></td>
                        <td><%= link_to 'Listado', employees_path %></td>
                         <% else %>
                           <td><%= link_to 'Planes ',homes_planes_path, :id => "confiar"%></td>
                            <td><%= link_to 'Cotización Contable  ', quotations_new_path, remote: true %></td>
                            <td  class="borderr nav-td"><%= link_to 'Contactanos  ',homes_new_path,  remote: true %></td>
                    <% end %>
                  <% end %>
              </td> 
               <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav ">

                     <td><div class="dropdown float-right">
                      <a class="btn btn-signin  text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <% if user_signed_in?%>
                          <%= truncate(current_user.email, length: 15)%>
                        <% else %>
                          <%= link_to image_tag('login.svg',width:'40'), new_user_session_path %>
                        <% end %>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink select">
                          <% if user_signed_in? %>
                          <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                        <% else %>
                          <%= link_to image_tag('login.svg'), new_user_session_path %>
                         <% end %>
                      </div>
                    </div>
                    </td>
                        </ul>
  </div>

             </tr>  
            </table>    
        </nav> 
      </div>
    </div>
