
<%=form_with(model: Quotation.new, local: true) do |form| %>
  
    <h1 class="formulario__titulo">Cotización</h1>
     <div class="form-row">
         <div class="form-group col-md-6">
           <%= form.label "Nombre"%>
            <%= form.text_field :name,class: 'form-control', placeholder: 'Nombre',maxlength: 20,size: 20 %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label "Apellido" %>
          <%= form.text_field :last_name,class: 'form-control', placeholder: 'Apellido',maxlength: 20,size: 20 %>
        </div>
      </div>  
       <div class="form-group">
          <%= form.label "Telefono" %>
          <%= form.text_field :phone, class: 'form-control', placeholder: '912345678' %>
        </div>
       <div class="form-group">
          <%= form.label "Email" %>
            <%= form.email_field :email, class: 'form-control', placeholder: 'email@email' %>
        </div>
       <div class="form-group">
            <%= form.label "Compañia" %>
            <%= form.text_field :compañy_size,class: 'form-control', placeholder: 'Nombre',maxlength: 20,size: 20 %>
        </div>
               
        <div class="form-group">
            <%= form.label :"Documentos mensuales" %>
            <%= form.select :document_id, options_for_select(@document), { prompt: 'Cantidad Documentos' }, class: 'form-control' %>
        </div>
       <div class="form-group">
            <%= form.label "Perfil" %>
            <%= form.select :position_id, options_for_select(@position),{ prompt: 'Perfil'}, class: 'form-control' %>
        </div>

       
       <div class="form-group">
          <%= form.label "Consulta" %>
          <%= form.text_area :help_you ,class: 'form-control', placeholder: 'Max 800 caract',maxlength: 800, size: "40x6" %>
        </div>
        </div>
          
                 <div class="actions text-center">
                    <%= form.submit "Enviar", class:"btn btn-primary actions" %>
                  </div>
</div>
<% end %>



















