
<%=form_with(model: quotation, local: true) do |form| %>
  <% if quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% quotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     <div class="formulario">
      <h1 class="formulario__titulo">Cotizaci칩n</h1>
        <div class="field ">
          
          <%= form.label :Nombre,"Nombre"%>
          <%= form.text_field :name, placeholder:"Nombre" %>
        </div>

        <div class="field">
          <%= form.label :Apellido,"Apellido" %>
          <%= form.text_field :last_name %>
        </div>
        <div class="field">
          <%= form.label :Telefono,"Telefono" %>
          <%= form.text_field :phone %>
        </div>
        <div class="field">
          <%= form.label :email,"Email" %>
            <%= form.email_field :email %>
        </div>
        <div class="field">
            <%= form.label :Compa침ia,"Compa침ia" %>
            <%= form.text_field :compa침y_size %>
        </div>
               
         <div class="field">
            <%= form.label :Document_id,"Documentos mensuales" %>
            <%= form.select :document_id, options_for_select(@document), prompt: 'select an option' %>
        
        <div class="field">
            <%= form.label :position_id,"Perfil" %>
            <%= form.select :position_id, options_for_select(@position), prompt: 'select an option' %>
        </div>

       
        <div class="field">
          <%= form.label :Descripcion,"Consulta" %>
          <%= form.text_area :help_you, size: "40x6" %>
        </div>
        </div>
            <%= recaptcha_tags %>
         <div class="actions">
          <%= form.submit %>
         </div>
</div>
<% end %>



















