<div class="banner">
    <div class="contentt">
    <h1 >    Bienvenido         </h1>
    <h2>         a              </h2>
    <h2> TCGConsultores accounting</h2>
    <h2>________________________</h2><br><br>
    <%=link_to 'Conocenos', quotations_about_path%>
   </div>
 </div>

<div class="flex">
    
        <div id='links'>
         <div class="row mt-5">
            <div class="col-3 ml-1">
            <a href="https://www.sercotec.cl" target="_blank"><%= image_tag("sercotec.jpeg", size: "210x115",:alt => "idea") %></a>
                                        
            </div>
            <div class="col-2">
               <a href="https://www.sii.cl" target="_blank"><%= image_tag("sii.jpeg", size: "200x100",:alt => "idea") %></a>                               
            </div>
            <div class="col-2">
                <a href="https://www.dt.gob.cl" target="_blank"><%= image_tag("dt.jpeg", size: "250x110",:alt => "idea") %></a>
            </div>
            <div class="col-2">
                <a href="https://www.bcentral" target="_blank"><%= image_tag("bc.png", size: "180x115",:alt => "idea") %></a>
            </div>
            <div class="col-2">
              <a href="https://www.previred.com" target="_blank"><%= image_tag("previred.png", size: "200x145",:alt => "idea") %></a>
            </div>
            <div class="col">
             
           </div>
       </div>
        <div class="row mt-1">
            <div class="col-12 ">
               <h3 class="text-center">- LINKS DE INTERES -</h3>
             </div>
          </div>
      </div><br><br>
   <div id='confiar'>
     <div class="container">
ç      <div class="row mb-5">
           <div class="col-12">
                <h2 class="display-4  font-weight-bold mb-5 text-center">¿Por que confiar en nosotros?</h2>
            </div>
    </div>
 </div> 

  
    <div class="row mx-5">
           <div class="col text-center">
              <%= image_tag("check.png", size: "80x80",:alt => "idea") %>  
            </div>
             <div class="col-3">
              <h3> Efectividad</h3>
              <p> Te ayudamos a conseguir tus objetivos con eficiencia y eficacia</p>
            </div>
            <div class="col text-center">
              <%= image_tag("trans.png", size: "80x80",:alt => "idea") %>  
            </div>
             <div class="col-3">
              <h3> Transparencia</h3>
              <p> Garantizamos el acceso a toda la informacion de tu negocio </p>
             </div>
            <div class="col text-center">
              <%= image_tag("riesgo.jpeg", size: "80x80",:alt => "idea") %>  
            </div>
             <div class="col-3">
             <h3> Riesgos Acotados</h3>
              <p> Proligidad en los informes</p>
              
            </div>
    </div><br><br><br>
    <div class="row mt-5 ml-5">
           <div class="col text-center">
              <%= image_tag("ampolleta.jpg", size: "80x80",:alt => "idea") %>  
            </div>
             <div class="col-3">
              <h3> Capacidad Adaptativa</h3>
              <p> Somos flexibles en la gestion de tu empresa</p>
            </div>
            <div class="col text-center pr-5">
              <%= image_tag("support.jpeg", size: "80x80",:alt => "idea") %>  
            </div>
             <div class="col-3 pr-5">
              <h3> Apoyo Permanente</h3>
              <p> Comunicacion permanente para aclarar dudas</p>
             </div>
            <div class="col text-center pr-5">
              <%= image_tag("hombre.jpg", size: "80x80",:alt => "idea") %>  
            </div>
             <div class="col-3">
             <h3> Simplicidad & Control</h3>
              <p> Informes claros, entendibles y permanentes</p>
              
            </div>
    </div><br><br>
    
    <div class="row margen garantia">
           <div class="col-6 text-center text-white pt-5 display-1">  
             
             <h1 class="pt-3 text-h"> Nuestra Garantia</h1>
            </div>
            
            <div class="col-6 text-white">
              <p class="text-p1 text-justify">Te ofrecemos realizar el primer mes de contabilidad con un 50% de descuento sobre el plan que contrates. </p>
              <p class="text-p1 text-justify">Si no estas de acuerdo, te entregamos la contabilidad al dia para que busquez otra solucion </p>
            </div>
    </div>
    </div>
    <br><br>

<div class="container mt-5">
  <div id="digitization">
    <div class="row mb-5">
           <div class="col-12">
                <h2 class="display-5  font-weight-bold mb-5 text-center"> El momento de la digitalizacion llego y te lo mostramos en el siguiente video</h2>
                
            </div>
    </div>
</div>
<div class="container">
        <div class="row mx-3 text-center">
            <div class="col-12">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gq_5AA1M9i8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
         </div>
    </div>
 </div>
</div>
</div>
 

