<div class="banner">
    <div class="contentt">
    <h1 >    Bienvenido         </h1>
    <h2>         a              </h2>
    <h2>     EL DESCUEVE</h2>
    <h2>________________________</h2><br><br>
    <%=link_to 'Conocenos', quotations_about_path%>
   </div>
 </div>

<div class="flex">
    
        <div id='links'>
         <div class="row mt-5">
         <div class="col">
             
           </div>
            <div class="col-2 pr-5">
            <a href="https://www.sercotec.cl" target="_blank"><%= image_tag("sercotec.jpg", size: "140x115",:alt => "idea") %></a>
                                        
            </div>
            <div class="col-2">
               <a href="https://www.sii.cl" target="_blank"><%= image_tag("sii.jpg", size: "200x100",:alt => "idea") %></a>                               
            </div>
            <div class="col-2">
                <a href="https://www.dt.gob.cl" target="_blank"><%= image_tag("dt.jpg", size: "250x110",:alt => "idea") %></a>
            </div>
            <div class="col-2">
                <a href="https://www.bcentral" target="_blank"><%= image_tag("bc.png", size: "180x115",:alt => "idea") %></a>
            </div>
            <div class="col-2">
              <a href="https://www.previred.com" target="_blank"><%= image_tag("previred.png", size: "200x145",:alt => "idea") %></a>
            </div>
            <div class="col">
             
           </div>
       </div>
        <div class="row mt-1">
            <div class="col-12 ">
               <h3 class="text-center">- LINKS DE INTERES -</h3>
             </div>
          </div>
      </div><br><br>
   <div id='confiar'>
     <div class="container">
     <div class="row mb-5">
           <div class="col-12">
                <h2 class="display-4  font-weight-bold mb-5 text-center"> 6 Motivos para confiar en nosotros</h2>
            </div>
    </div>
 </div> 


<div class="contenedor">
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("confiar1.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>EFECTIVIDAD</h2>
        <hr>
        <p>Te ayudamos a combinar en forma permanente  la eficacia, eficiencia y efectividad. Estos términos se utilizan con frecuencia en el ámbito de los negocios para garantizar una gestión adecuada y alcanzar los objetivos trazados</p>
      </figcaption>
    </figure>
    </div>
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("confiar2.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>TRANSPARENCIA</h2>
        <hr>
        <p>Garantizamos el acceso a toda la informacion de tu negocio y a controlar los aspectos financieros de tú empresa para que ésta cumpla con su misión y visión, con la participación de todas las personas de la organización.</p>
      </figcaption>
    </figure>
    </div>
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("confiar3.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>RIESGOS ACOTADOS</h2>
        <hr>
        <p>Proligidad en los informes, los procesos contables y tributarios para poder encontrar a tiempo algun inconveniente en la empresa y darle solución</p>
      </figcaption>
    </figure>
    </div>
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("confiar4.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>CAPACIDAD ADAPTATIVA</h2>
        <hr>
        <p>Somos flexibles en la gestion de tu empresa y  te ayudamos a modificar, cambiar y hacer eficiente un proceso para acomodarse a la nueva realidad según corresponda</p>
      </figcaption>
    </figure>
    </div>
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("confiar5.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>APOYO PERMANENTE</h2>
        <hr>
        <p>Comunicacion permanente para aclarar dudas e ir actualizando procesos periodicamente</p>
      </figcaption>
    </figure>
    </div>
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("confiar6.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>SIMPLICIDAD & CONTROL</h2>
        <hr>
        <p>Auditorias permanentes y desarrollo de informes claros y entendibles para tomar desiciones más concretas con respecto a la reaalidad de tú negocio</p>
      </figcaption>
    </figure>
    </div>
 </div>

  

<div class="container">
        <div class="row pt-2 text-center">
            <div class="col-12">
                <h2 class="display-5  font-weight-bold text-center"> El momento de la digitalizacion llegó y te lo mostramos aqui</h2>
                <%= video_tag "digitalizacion.mp4", :controls => true,  autoplay: false, :loop => true, size: "600x700" %>
                         
              </div>
         </div>
    </div>

 

