<div class=" fondo_formulario">
 
    <h1 class='text-center'>Cotizaciones</h1>

    <div class='table-responsive margen_abajo'>
    <table class='table table-striped table-bordered table-hover'>
      <thead>
        <tr class='bg-primary text-white'> 
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Telefono</th>
          <th>email</th>
          <th>Perfil</th>
          <th>Compa침ia</th>
          <th>Documentos mensuales</th>
          <th>En que te puedo ayudar</th>
          <th>Fecha de creaci칩n</th>
          <th>Borrar</th>
          <th>Mostrar</th>
          <th>Cotizar</th>
          <th colspan="12"></th>
        </tr>
      </thead>

      <tbody>
        <% @quotations.each do |quotation| %>
        <% if quotation.status == false %>
          <tr class="bg-danger">
            <td><%= quotation.name %></td>
            <td><%= quotation.last_name %></td>
            <td><%= quotation.phone %></td>
            <td><%= quotation.email %></td>
            <td><%= quotation.position.name %></td>
            <td><%= quotation.compa침y_size %></td>
            <td><%= quotation.document.name %></td>
            <td><%= quotation.help_you%></td>
            <td><%= quotation.created_at%></td>
            <td><%= link_to 'Destroy', delete_quotation_path(quotation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Show', quotation_show_path(quotation) %></td>
            <td><%= link_to 'Cotizar', quotation_status_path(quotation), method: :patch %></td>
          </tr>
        <% else %>
        <tr class="bg-success">
            <td><%= quotation.name %></td>
            <td><%= quotation.last_name %></td>
            <td><%= quotation.phone %></td>
            <td><%= quotation.email %></td>
            <td><%= quotation.position.name %></td>
            <td><%= quotation.compa침y_size %></td>
            <td><%= quotation.document.name %></td>
            <td><%= quotation.help_you%></td>
            <td><%= quotation.created_at%></td>
            <td><%= link_to 'Destroy', delete_quotation_path(quotation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Show', quotation_show_path(quotation) %></td>
            <td><%= link_to 'Cotizado', quotation_status_path(quotation), method: :patch %></td>
          </tr>
        <% end %>
      
        <% end %>
      </tbody>
    </table>
    </div>

<br>

</div>