<p id="notice"><%= notice %></p>



<div class="employee-form margen-bajo">
        <h1>Envio Consulta Exitosa !!!</h1>
    
<div class="container">
   <div class=" form-cons">
      <p>

         <strong>Nombre:</strong>
        <%= @contact.name %>
      </p>

      <p>
        <strong>Apellido:</strong>
        <%= @contact.last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @contact.email %>
      </p>

      <p>
        <strong>Telefono:</strong>
        <%= @contact.phone %>
      </p>

      <p>
        <strong>Consulta:</strong>
        <%= @contact.consult %>
      </p>


   </div>
  </div>
 </div> 
    <div class="employee-form">
      
      <%= link_to 'Home', homes_index_path , class:"btn btn-outline-light btn-primary text-center" %>
    </div>
