<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="formulario">
  <div class="field">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address, "Dirección" %>
    <%= form.text_field :address %>
  </div>

   <div class="field">
    <%= form.label :contact, "Contacto" %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :phone, " Teléfono" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :location_id, " Localidad"%>
    <%= form.select :location, options_for_select(@cities), prompt: 'select an option' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
