<p id="notice"><%= notice %></p>
<div class="employee-form margen-bajo ">
 
    <h1 class='text-center'>Empresas</h1>
      <div class='table-responsive margen_abajo'>
          <table class='table table-striped table-bordered table-hover'>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Nombre Fantasia</th>
                <th>Rut Empresa</th>
                <th>Dirección</th>
                <th>Contacto</th>
                <th>Rut Contacto</th>
                <th>Teléfono</th>
                <th>Mostrar</th>
                <th>Editar</th>
                <th>Borrar</th>
                <th colspan="10"></th>
              </tr>
            </thead>

            <tbody>
              <% @companies.each do |company| %>
                <tr>
                  <td><%= company.name %></td>
                  <td><%= company.fantasyname %></td>
                  <td><%= company.companyrut %></td>
                  <td><%= company.address %></td>
                  <td><%= company.contact %></td>
                  <td><%= company.contactrut %></td>
                  <td><%= company.phone %></td>
                <%#  <td><%#= company.location %></td>
                  <td><%= link_to 'Show', company %></td>
                  <td><%= link_to 'Edit', edit_company_path(company) %></td>
                  <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
    </div>
     
   </div> 

  <div class="employee-form">
    <%= paginate @companies %>
    <%= link_to 'Home', homes_index_path, class:"btn btn-outline-light btn-primary text-center" %>
</div>

