<p id="notice"><%= notice %></p>
<div class="employee-form margen-bajo">
        <h1>Creación Exitosa !!!</h1>
    
<div class="container">
   <div class=" form-cons">
<p>
  <strong>Nombre:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>Nombre Fantasia:</strong>
  <%= @company.fantasyname %>
</p>
<p>
  <strong>Rut Empresa:</strong>
  <%= @company.companyrut %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Contact0:</strong>
  <%= @company.contact %>
</p>
<p>
  <strong>Rut Contacto:</strong>
  <%= @company.contactrut %>
</p>
<p>
  <strong>Teléfono:</strong>
  <%= @company.phone %>
</p>

<%# <p>
  <strong>Location:</strong>
  <%#= @company.location %>
</p> 
</div>
  </div>
 </div> 

    <div class="employee-form">
      
      <%= link_to 'Home', homes_index_path , class:"btn btn-outline-light btn-primary text-center" %>
    </div>
