<%= form_with(model: credit, local: true) do |form| %>
  <% if credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_ini %>
    <%= form.text_field :date_ini %>
  </div>

  <div class="field">
    <%= form.label :quotes %>
    <%= form.text_field :quotes %>
  </div>

  <div class="field">
    <%= form.label :date_finish %>
    <%= form.text_field :date_finish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
