


<div class="invitados seccion bar">
  <h2>Nuestro Equipo</h2>
    <ul class="lista-equipo clearfix">
       <li>
          <div class="equipos">
              <%= image_tag("oscar.jpg",:alt => "CEO") %>
              <h6> Oscar Toro Diaz<br>
                  Scrum Master& CEO </h6>
           </div>
        </li>
         <li>
          <div class="equipos">
              <%= image_tag("cecilia.jpg",:alt => "CEO") %>
              <h6> Cecilia Chaipul Cotal<br>
                   Contadora General</h6>
           </div>
        </li>
         <li>
          <div class="equipos">
              <%= image_tag("ariel.jpg",:alt => "CEO") %>
              <h6> Ariel Fuentes Pollicardo<br>
                   Network Engineer</h6>
           </div>
        </li>
     </ul>
</div>


<div class="contador parallax seccion">
   <div class="container sinpadding">
      <ul class="resumen-evento clearfix">
        <li><p class="numero">6</p>Invitados</li>
        <li><p class="numero">15</p>Talleres</li>
        <li><p class="numero">30</p>Dias</li>
        <li><p class="numero">9</p>Conferencia</li>


     </ul>
   </div>
</div>
<div class="precios seccion bar">
  <h2>Ofertas Web</h2>
  <div class="container sinpadding">
    <ul class="lista-precios clearfix">
         <li> 
              <div class="tabla-precio">
                 <h3>Web Medium</h3>
                 <p class="numero">$100.000</p>
                  <ul>   
                     <li><i class="fas fa-check"></i>   Diseño del sitio web  </li>
                     <li><i class="fas fa-check"></i>   5 páginas             </li>
                     <li><i class="fas fa-check"></i>   Formulario de contacto</li>
                  </ul>
                  <a href='https://www.flow.cl/btn.php?token=xbntsjf' target='_blank'>
                      <img src='https://www.flow.cl/img/botones/btn-pagar-celeste.png'>
                  </a> 
              </div>              
          </li>
          <li> 
              <div class="tabla-precio">
                 <h3>Web Economic</h3>
                 <p class="numero">$80.000</p>
                  <ul>
                     <li><i class="fas fa-check"></i>   Diseño del sitio web  </li>
                     <li><i class="fas fa-check"></i>   Landing page           </li>
                     <li><i class="fas fa-check"></i>   Formulario de contacto</li>
                  </ul>
                  <a href='https://www.flow.cl/btn.php?token=104eva4' target='_blank'>
                      <img src='https://www.flow.cl/img/botones/btn-pagar-celeste.png'>
                  </a>  
              </div>              
          </li>
          <li> 
              <div class="tabla-precio">
                 <h3>Web Medium</h3>
                 <p class="numero">$190.000</p>
                  <ul>
                     <li><i class="fas fa-check"></i>   Diseño del sitio web  </li>
                     <li><i class="fas fa-check"></i>   5 páginas con 3 imagnes</li>
                     <li><i class="fas fa-check"></i>   Formulario de contacto</li>
                  </ul>
                <a href='https://www.flow.cl/btn.php?token=oed3mjf' target='_blank'>
                  <img src='https://www.flow.cl/img/botones/btn-pagar-celeste.png'>
                </a> 
              </div>              
          </li>
        </ul>
     </div>     
   </div>



  <div class="seccion bar ma">
         <h2>Nuestros tres pilares fundamentales  </h2>
         <p>
          Juntemonos a tomar un cafe, para que nos cuentes tus proyectos y con gusto te ayudaremos.Recuerda que la digitalización llego para quedarse y con nuestra asesoria podras realizar todos los cambios necesarios
          Confia en nosotros
        </p>
    </div>
 

 
<div class="contenedor">
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("prueba1.png",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>VISION</h2>
        <hr>
        <p>Ser uma empresa que es reconocida por la excelencia en soluciones estrategicas y efectivas para el exito empresarial de nuestros clientes.</p>
      </figcaption>
    </figure>
    </div>
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("prueba2.png",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>MISIÓN</h2>
        <hr>
        <p>Construir relaciones permanentes, conocer las necesidades de nuestros clientes y aprovechar nuestra experiencia para generar soluciones eficaces</p>
      </figcaption>
    </figure>
    </div>
    <div class="contenedor_tarjeta">

   <figure>
         <%= image_tag("prueba3.png",class: "frontal", size: "300x350",:alt => "idea") %>
      <figcaption class="trasera">
        <h2>VALORES</h2>
        <hr>
        <p>Creemos en la transparencia, la rectitud, el respeto por las personas y en el trabajo en equipo</p>
      </figcaption>
    </figure>
    </div>
    <div class="contenedor_tarjeta">

    </div>
 </div>

 <div class="seccion bar">
         <h2>Porque confiar en nosotros </h2>
         <p>
          Juntemonos a tomar un cafe, para que nos cuentes tus proyectos y con gusto te ayudaremos.Recuerda que la digitalización llego para quedarse y con nuestra asesoria podras realizar todos los cambios necesarios
          Confia en nosotros
        </p>
    </div>
   
      <div class="contenedor">
          <div class="contenedor_tarjeta">

        <figure>
              <%= image_tag("confiar1.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
            <figcaption class="trasera">
              <h2>EFECTIVIDAD</h2>
              <hr>
              <p>Te ayudamos a combinar en forma permanente  la eficacia, eficiencia y efectividad. Estos términos se utilizan con frecuencia en el ámbito de los negocios para garantizar una gestión adecuada y alcanzar los objetivos trazados</p>
            </figcaption>
          </figure>
          </div>
          <div class="contenedor_tarjeta">

        <figure>
              <%= image_tag("confiar2.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
            <figcaption class="trasera">
              <h2>TRANSPARENCIA</h2>
              <hr>
              <p>Garantizamos el acceso a toda la informacion de tu negocio y a controlar los aspectos financieros de tú empresa para que ésta cumpla con su misión y visión, con la participación de todas las personas de la organización.</p>
            </figcaption>
          </figure>
          </div>
          <div class="contenedor_tarjeta">

        <figure>
              <%= image_tag("confiar3.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
            <figcaption class="trasera">
              <h2>RIESGOS ACOTADOS</h2>
              <hr>
              <p>Proligidad en los informes, los procesos contables y tributarios para poder encontrar a tiempo algun inconveniente en la empresa y darle solución</p>
            </figcaption>
          </figure>
          </div>
          <div class="contenedor_tarjeta">

        <figure>
              <%= image_tag("confiar4.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
            <figcaption class="trasera">
              <h2>CAPACIDAD ADAPTATIVA</h2>
              <hr>
              <p>Somos flexibles en la gestion de tu empresa y  te ayudamos a modificar, cambiar y hacer eficiente un proceso para acomodarse a la nueva realidad según corresponda</p>
            </figcaption>
          </figure>
          </div>
          <div class="contenedor_tarjeta">

        <figure>
              <%= image_tag("confiar5.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
            <figcaption class="trasera">
              <h2>APOYO PERMANENTE</h2>
              <hr>
              <p>Comunicacion permanente para aclarar dudas e ir actualizando procesos periodicamente</p>
            </figcaption>
          </figure>
          </div>
          <div class="contenedor_tarjeta">

        <figure>
              <%= image_tag("confiar6.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
            <figcaption class="trasera">
              <h2>SIMPLICIDAD & CONTROL</h2>
              <hr>
              <p>Auditorias permanentes y desarrollo de informes claros y entendibles para tomar desiciones más concretas con respecto a la reaalidad de tú negocio</p>
            </figcaption>
          </figure>
          </div>
      </div>
