
  
       <div class="seccion bar">
         <h2> Somos el partner que necesita tu emprendmineto</h2>
         <p>
         Somos un grupo de profesionales que poyamos el crecimiento de las pequeñas y medianas empresas desde el año 2018 , a través de la innovación y soluciones tecnológicas para mejorar los procesos de las personas.
         A todos nos ha pasado, hay días en los que las cosas no suceden como lo esperamos y nuestra motivación comienza a desmoronarse, pero no te preocupes porque en El DEscuevee encontaras el apoyo que necesitas.Antes de conseguir el éxito, enfrentarás muchas derrotas. Es normal, no te desanimes.
         Seremos el partner que te acompañara desde el inicio de tu idea hasta concretar tu proyecto.No dejes nada para después. ¡Empieza hoy!
         </p>
      </div>
        
         <div class="row mt-5 margen">
            <div class="col-5">
                <h2 class="text-h">Transformando el desarrollo de las empresas</h2><br>
                <p class='text-p text-justify'>Te asesoramos en todos los procesos y pilares fundamentales en la administración de tu empresa o negocio, para que así puedas tomar la mejor decisión y hacerla crecer.</p>
                <p class='text-p text-justify'>Si deseas dar a conocer tu empresa al mundo, la mejor manera de hacerlo es creando una plataforma web. Para ello te asesoramos en el diseño e implementación de tu sitio.</p>
                <p class='text-p text-justify'>¿Por qué conformarse con soluciones genéricas y poco escalables? Convertimos su necesidad o idea en una solución real y escalable.</p>           
                <p class='text-p text-justify'>Nos convertimos en su socio estratégico para el apoyo y asesoría permanente para mejorar el área de soporte informático, proponiendo soluciones tecnológicas al alcance.</p>
                <p class='text-p'>Confia en nosotros</p>
                <p class='text-p'>Atte</p>
                <p class='text-p'>Oscar Toro Diaz</p>
                <p class='text-p'> CEO & SCRUM MASTER</p><br>
            </div>
             <div class="col-1">
              
            </div>
            <div class="col-6">
              <%= image_tag("idea.png", size: "600x550",:alt => "idea") %>
            </div>
       </div>
      </div>
      <div class="programa">
        <div class="contenedor-video">
          <%= video_tag "video3.mp4", :controls => false,  autoplay: true, :loop => true %>
          </div>
      
      
        <div class="seccion bar">
         <h2> Planes Tributario y contable según tu necesidad</h2>
         <p>
         Las pequeñas y medianas empresas tienen una estructura que no justifica la creación de un departamento de contabilidad. Con nuestros planes puedes invertir más tiempo en la planeación táctica y estratégica de tu negocio.
        </p>
       </div>
          
        <div class="contenedor">
            <div class="contenedor_tarjeta">
             
              <figure>
                    <%= image_tag("prueba8.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
                  <figcaption class="trasera">
                    <h2>Plan Básico</h2>
                    <hr>
                    <p>- 15 documentos Tributarios</p>
                    <p>- Formulario número 29 (SII)</p>
                    <p>- Registros de Compras y Ventas</p>
                    <p>- Balance Tributario</p>
                    <p>- Declaración de Renta Anual</p>
                    <br>
                    <p>ANTES<del> $29.990 </del></p>
                    <p>AHORA $14.990 </p>
                    <br>
                    <div class="text-center">
                    <a href='https://www.flow.cl/btn.php?token=57hfy5s' target='_blank'>
                      <img src='https://www.flow.cl/img/botones/btn-pagar-celeste.png'>
                    </a>
                    </div>          
                  </figcaption>
                </figure>
              </div>
              <div class="contenedor_tarjeta">

                <figure>
                      <%= image_tag("prueba7.jpg",class: "frontal", size: "300x400",:alt => "idea") %>
                    <figcaption class="trasera">
                      <h2>Plan Emprendedor</h2>
                      <hr>
                        <p>- Hasta 4 Trabajadores </p>
                        <p>- 30 Documentos Tributarios</p>
                        <p>- Contratos del Personal</p>
                        <p>- Remuneraciones e imposiciones</p>
                        <p>- Formulario número 29 (SII)</p>
                        <p>- Registros de Compras y Ventas</p>
                        <p>- Balance Tributario</p>
                        <p>- Declaración de Renta Anual</p>
                        <br>
                        <p>ANTES<del> $59.990 </del></p>
                        <p>AHORA $29.990 </p>
                        <br>
                        <div class="text-center">
                        <a href='https://www.flow.cl/btn.php?token=bx2bx8p' target='_blank'>
                          <img src='https://www.flow.cl/img/botones/btn-pagar-celeste.png'>
                         </a>
                        </div>
                        
                    </figcaption>
                  </figure>
                </div>
                <div class="contenedor_tarjeta">

                    <figure>
                          <%= image_tag("prueba6.jpg",class: "frontal", size: "300x400",:alt => "idea") %>
                        <figcaption class="trasera">
                          <h2>Plan Pyme</h2>
                          <hr>
                                    
                            <p>- Hasta 10 Trabajadores</p>
                            <p>- 50 Documentos Tributarios</p>
                            <p>- Contratos del Personal</p>
                            <p>- Remuneraciones e imposiciones</p>
                            <p>- Formulario número 29 (SII)</p>
                            <p>- Registros de Compras y Ventas</p>
                            <p>- Balance Tributario</p>
                            <p>- Declaración de Renta Anual</p>
                            <br>
                            <p>ANTES<del> $119.990 </del></p>
                            <p>AHORA $59.990 </p>
                            <br>
                            <div class="text-center">
                              <a href='https://www.flow.cl/btn.php?token=mvnph7n' target='_blank'>
                                <img src='https://www.flow.cl/img/botones/btn-pagar-celeste.png'>
                              </a>
                            </div>
                        </figcaption>
                      </figure>
                </div>
            </div>
        </div>
               

<div class="flex">
    
    <div id='links'>
        <div class="row mt-5">
                <div class="col">
                  
                </div>
                  <div class="col-2 pr-5">
                  <a href="https://www.sercotec.cl" target="_blank"><%= image_tag("sercotec.jpg", size: "140x115",:alt => "idea") %></a>
                                              
                  </div>
                  <div class="col-2">
                    <a href="https://www.sii.cl" target="_blank"><%= image_tag("sii.jpg", size: "200x100",:alt => "idea") %></a>                               
                  </div>
                  <div class="col-2">
                      <a href="https://www.dt.gob.cl" target="_blank"><%= image_tag("dt.jpg", size: "250x110",:alt => "idea") %></a>
                  </div>
                  <div class="col-2">
                      <a href="https://www.bcentral" target="_blank"><%= image_tag("bc.png", size: "180x115",:alt => "idea") %></a>
                  </div>
                  <div class="col-2">
                    <a href="https://www.previred.com" target="_blank"><%= image_tag("previred.png", size: "200x145",:alt => "idea") %></a>
                  </div>
                  <div class="col">
                  
                </div>
         </div>
          <div class="row mt-1">
              <div class="col-12 ">
                <h3 class="text-center">- LINKS DE INTERES -</h3>
              </div>
          </div>
    </div>
  </div>
     

       <div class="seccion bar">
         <h2>El momento de la digitalizacion llegó y te podemos ayudar </h2>
         <p>
          Juntemonos a tomar un cafe, para que nos cuentes tus proyectos y con gusto te ayudaremos.Recuerda que la digitalización llego para quedarse y con nuestra asesoria podras realizar todos los cambios necesarios
          Confia en nosotros
        </p>
       </div>
       <div class="programa">
        <div class="contenedor-video">
          <%= video_tag "video4.mp4", :controls => false,  autoplay: true, :loop => true %>
          </div>
      </div>
<div class="row ml-5">
    <div clas="col-2">
    </div>
  <div class="col-5 pl-3 pt-5 pb-1">
         <h2>Contáctanos</h2>
         <p>Si tienes dudas o consultas, escríbenos completando el siguiente formulario y en breve nos contactaremos contigo.</p>
        <form>
            <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">
                  </div>
                <div class="form-group col-md-6">
                  <label for="inputLastname">Apellido</label>
                  <input type="text" class="form-control" id="inputLastname" placeholder="Apellido">
                </div>
            </div>
            <div class="form-group">
              <label for="inputName">Email</label>
              <input type="text" class="form-control" id="inputName" placeholder="email@email">
            </div>
            
            <div class="form-group">
              <label for="inputPhone">Celular</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="912345678">
            </div>
            <div class="form-group">
              <label for="inputDescription">Consulta</label>
              <input type="textarea" class="form-control" id="inputLastname" size ="40x6" placeholder="Consulta">
            </div>
          <%= recaptcha_tags %>
  
      <button type="submit" class="btn btn-primary">enviar</button>
    </form>
  </div>
   <div class="col-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.450340322069!2d-70.77229218424108!3d-33.43757190423866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c233fcec57c7%3A0xde8d59f24c90da74!2sCerro%20La%20Campana%201095%2C%20Pudahuel%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1583842449094!5m2!1ses-419!2scl" width="1060" height="698" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
   </div>
</div>   



























<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Formulario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
    </div>
  </div>
</div>
 

