
 
          <div class="container pt-5">
                <h2 class="text-h text-center"> Planes Outsourcing, consultoría tributaria y contable</h2><br>
          </div>

          <div class='container mt-5'>
               <div class="card-deck">
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                     
                      <div class="card-body"> 
                        <p class="card-title text-h2">Creación de sociedad</p>
                        <p class="card-text displey-4">Déjanos la creación de tú empresa en nuestras manos. Creamos sociedades, empresa en un día y a través de escrituras publicas (E.I.R.L., SPA, Ltda)..</p>
                      
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                      
                      <div class="card-body">
                        <p class="card-title text-h2">Regularizaciones</p>
                        <p class="card-text displey-4">Asesoramos en le gestión de periodos pendientes de declaración de impuestos, declaraciones de renta y previsionale</p>
                        
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                    
                      <div class="card-body">
                        <p class="card-title text-h2">Inicio de actividades</p>
                        <p class="card-text displey-4">Dejamos tu Pyme facturando con nuestra completa asesoría en todos los tramites.</p>
                       
                      </div>
                    </div>
                </div>
          </div>
          <div class='container mt-5'>
               <div class="card-deck">
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                     
                      <div class="card-body"> 
                        <p class="card-title text-h2">Servicios contables</p>
                        <p class="card-text displey-4">Llevamos el orden de tu contabilidad; además de ofrecer timbrare de documentos, Formulario 29, RR.HH., reportes contables para que no tengas preocupación alguna.</p>
                      
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                      
                      <div class="card-body">
                        <p class="card-title text-h2">Auditorias, gestión y control interno</p>
                        <p class="card-text displey-4">Te ayudamos a que toda tu información sea fidedigna y a resguardar tu patrimonio mediante nuestras auditoria forense y de contenidos.</p>
                        
                      </div>
                    </div>
                    <div class="card text-white bg-success mb-3" style="max-width: 25rem">
                    
                      <div class="card-body">
                        <p class="card-title text-h2">Balances y renta</p>
                        <p class="card-text displey-4">Realizamos asesorías tributarias, balances, declaraciones de rentas, declaraciones juradas, entre otros.</p>
                       
                      </div>
                    </div>
                  </div>
            </div>

      <div class="container pt-3">
          
                <h2 class="text-h text-center"> Planes Tributario y contable según tu necesidad</h2><br>
      </div>
      
<div class="contenedor">
      <div class="contenedor_tarjeta">

        <figure>
              <%= image_tag("descuento.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
            <figcaption class="trasera">
              <h2>Plan Básico</h2>
              <hr>
              <p>- 15 documentos Tributarios</p>
              <p>- Formulario número 29 (SII)</p>
              <p>- Registros de Compras y Ventas</p>
              <p>- Balance Tributario</p>
              <p>- Declaración de Renta Anual</p>
              <br>
              <p>ANTES<del> $29.990 </del></p>
              <p>AHORA $14.990 </p>
              <br>
              <div class="text-center">
              <%= link_to 'Contratar', quotations_index_path,class:"btn btn-outline-light btn-lg" %>
              </div>          
            </figcaption>
          </figure>
        </div>
        <div class="contenedor_tarjeta">

          <figure>
                <%= image_tag("descuento.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
              <figcaption class="trasera">
                <h2>Plan Emprendedor</h2>
                <hr>
                  <p>- Hasta 4 Trabajadores </p>
                  <p>- 30 Documentos Tributarios</p>
                  <p>- Contratos del Personal</p>
                  <p>- Remuneraciones e imposiciones</p>
                  <p>- Formulario número 29 (SII)</p>
                  <p>- Registros de Compras y Ventas</p>
                  <p>- Balance Tributario</p>
                  <p>- Declaración de Renta Anual</p>
                  <br>
                  <p>ANTES<del> $59.990 </del></p>
                  <p>AHORA $29.990 </p>
                  <br>
                  <div class="text-center">
                  <%= link_to 'Contratar', quotations_index_path,class:"btn btn-outline-light btn-lg" %>
                  </div>   
              </figcaption>
            </figure>
          </div>
          <div class="contenedor_tarjeta">

              <figure>
                    <%= image_tag("descuento.jpg",class: "frontal", size: "300x350",:alt => "idea") %>
                  <figcaption class="trasera">
                    <h2>Plan Pyme</h2>
                    <hr>
                              
                      <p>- Hasta 10 Trabajadores</p>
                      <p>- 50 Documentos Tributarios</p>
                      <p>- Contratos del Personal</p>
                      <p>- Remuneraciones e imposiciones</p>
                      <p>- Formulario número 29 (SII)</p>
                      <p>- Registros de Compras y Ventas</p>
                      <p>- Balance Tributario</p>
                      <p>- Declaración de Renta Anual</p>
                      <br>
                      <p>ANTES<del> $119.990 </del></p>
                      <p>AHORA $59.990 </p>
                      <br>
                      <div class="text-center">
                      <%= link_to 'Contratar', quotations_index_path,class:"btn btn-outline-light btn-lg" %>
                      </div>   
                  </figcaption>
                </figure>
          </div>
      </div>

            