<div class="programa">
        <div class="contenedor-video">
          <%= video_tag "video6.mp4", :controls => false,  autoplay: true, :loop => true %>
        </div>
          <div class="contenedor-programa">
            <div class="seccion">
              <div class=programa-evento>
                  <h2>Horario Lecturas</h2>
                  <nav class="menu-programa">
                    <a href="#pagina"><i class="fa fa-code" aria-hidden="true"></i>Online</a>
                    <a href="#talleres"><i class="fa fa-comment" aria-hidden="true"></i>Presencial</a>
                 </nav> 
                   <div id="pagina" class="info-curso ocultar clearfix">
                     <div class="detalle-evento">
                        <h3>Lectura Presencial</h3>
                        <h6><i class="fa fa-clock" aria-hidden="true"></i> 09:00 hrs</h6>
                        <h6><i class="fa fa-clock" aria-hidden="true"></i> 20:00 hrs</h6>
                        <h6><i class="fa fa-calendar" aria-hidden="true"></i> Lu a Sa</h6>
                        <h6><i class="fa fa-user" aria-hidden="true"></i> Eros</h6>
                    </div>
                      <div class="detalle-evento">
                        <h3>Lectura Online</h3>
                        <h6><i class="fa fa-clock" aria-hidden="true"></i> 12:00 hrs</h6>
                        <h6><i class="fa fa-clock" aria-hidden="true"></i> 21:00 hrs</h6>
                        <h6><i class="fa fa-calendar" aria-hidden="true"></i> Lu a Sa</h6>
                        <h6><i class="fa fa-user" aria-hidden="true"></i> Eros</h6>
                     </div>
              </div>                   
             </div>
           </div>
          </div>    
</div>

      <div class="seccion bar">
          <h2> Lectura tarot online F: 09-68008076 </h2>
          <p>
         Hola soy <b>Eros</b> y te doy la bienvenida a este espacio místico.El Tarot facilita el diálogo entre el presente transitado por nuestra conciencia y el futuro vibrante que aún no ha reconocido nuestra psiquis. Capta el futuro de un modo simbólico, meteorológico. No puede predecir de modo literal, ya que cómo resolveremos el clima venidero dependerá mucho de nuestra creatividad y valentía.Así, el Tarot se presenta como una herramienta no ya para la predicción de acontecimientos sino para la comprensión más profunda de nuestras herramientas y formas de resolución de lo que sucederá.Realizar una consulta de Tarot es adentrarse a la propia psiquis para empezar a curarla. Muchas veces lleva tiempo descubrir el verdadero motivo de la consulta y lograr descifrar lo que en verdad necesitamos preguntar.
         </p>
         <p><b>Te ayudare a resolver tus dudas a través de la lectura online o presencial.Ten confianza !!!!</b></p>
      </div>

<div class="precios seccion bar">
  <h2>Lectura Presencial</h2>
  <div class="container sinpadding">
    <ul class="lista-precios clearfix">
         <li> 
              <div class="table-preci">
                 <h3>Lectura Básica</h3>
                 <p class="numero">$8.000</p>
                  <ul>   
                     <li><i class="fas fa-check"></i>   Lectura del presente  </li>
                     <li><i class="fas fa-check"></i>   5 preguntas            </li>
                    
                  </ul>
                  <a href='https://www.flow.cl/btn.php?token=no8ltqv' target='_blank'>
                      <img src='https://www.flow.cl/img/botones/btn-pagar-negro.png'>
                 </a>
              </div>              
          </li>
          <li> 
              <div class="table-preci">
                 <h3>Lectura Intermedia</h3>
                 <p class="numero">$10.000</p>
                  <ul>
                     <li><i class="fas fa-check"></i>    Lectura del presente  </li>
                     <li><i class="fas fa-check"></i>    10 preguntas           </li>
                     
                  </ul>
                 <a href='https://www.flow.cl/btn.php?token=bvri5tl' target='_blank'>
                  <img src='https://www.flow.cl/img/botones/btn-pagar-negro.png'>
                </a>
              </div>              
          </li>
          <li> 
              <div class="table-preci">
                 <h3>Lectura Total</h3>
                 <p class="numero">$20.000</p>
                  <ul>
                     <li><i class="fas fa-check"></i>   Lectura del presente  </li>
                     <li><i class="fas fa-check"></i>   15 preguntas</li>
                    
                  </ul>
                 <a href='https://www.flow.cl/btn.php?token=0cjosfe' target='_blank'>
                   <img src='https://www.flow.cl/img/botones/btn-pagar-negro.png'>
                </a>
              </div>              
          </li>
        </ul>
     </div>     
   </div>

<div class="precios seccion bar">
  <h2>Lectura Online</h2>
  <div class="container sinpadding">
    <ul class="lista-precios clearfix">
         <li> 
              <div class="tabla-precio">
                 <h3>Lectura Básica</h3>
                 <p class="numero">$5.000</p>
                  <ul>   
                     <li><i class="fas fa-check"></i>   Lectura del presente  </li>
                     <li><i class="fas fa-check"></i>   5 preguntas            </li>
                    
                  </ul>
                  <a href='https://www.flow.cl/btn.php?token=1aa5ijp' target='_blank'>
                   <img src='https://www.flow.cl/img/botones/btn-pagar-negro.png'>
                 </a> 
              </div>              
          </li>
          <li> 
              <div class="tabla-precio">
                 <h3>Lectura Intermedia</h3>
                 <p class="numero">$8.000</p>
                  <ul>
                     <li><i class="fas fa-check"></i>    Lectura del presente  </li>
                     <li><i class="fas fa-check"></i>    10 preguntas           </li>
                     
                  </ul>
                  <a href='https://www.flow.cl/btn.php?token=17ycmdv' target='_blank'>
                     <img src='https://www.flow.cl/img/botones/btn-pagar-negro.png'>
                 </a>  
              </div>              
          </li>
          <li> 
              <div class="tabla-precio">
                 <h3>Lectura Total</h3>
                 <p class="numero">$15.000</p>
                  <ul>
                     <li><i class="fas fa-check"></i>   Lectura del presente  </li>
                     <li><i class="fas fa-check"></i>   15 preguntas</li>
                    
                  </ul>
              <a href='https://www.flow.cl/btn.php?token=dvn9aao' target='_blank'>
                 <img src='https://www.flow.cl/img/botones/btn-pagar-negro.png'>
             </a>

             </div>              
          </li>
        </ul>
     </div>     
   </div>

<div class="row ml-5">
    <div clas="col-2">
    </div>
  <div class="col-5 pl-3 pt-5 pb-1">
         <h2>Contáctanos</h2>
         <p>Si tienes dudas o consultas, escríbeme completando el siguiente formulario y en breve me contactare contigo.</p>
        <%= form_with model:Contact.new, local: true do |form| %>
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label "Nombre" %>
                     <%= form.text_field :name,class: 'form-control', placeholder: 'Nombre'  %>
                   <!-- <label for="inputEmail4">Nombre</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">-->
                  </div>
                <div class="form-group col-md-6">
                  <%= form.label "Apellido"%>
                  <!-- <label for="inputLastname">Apellido</label> -->
                  <%= form.text_field :last_name, class: 'form-control', placeholder: 'Apellido' %>
                  <!--<input type="text" class="form-control" id="inputLastname" placeholder="Apellido">-->
                </div>
            </div>
            <div class="form-group">
               <%= form.label "Email"%>
              <!--<label for="inputName">Email</label>-->
               <%= form.text_field :email, class: 'form-control', placeholder: 'email@email' %>
             <!--<input type="text" class="form-control" id="inputName" placeholder="email@email">-->
            </div>
            
            <div class="form-group">
                <%= form.label "Celular"%>
             <!-- <label for="inputPhone">Celular</label>-->
                  <%= form.text_field :phone, class: 'form-control', placeholder: '912345678' %>
             <!-- <input type="text" class="form-control" id="inputPhone" placeholder="912345678">-->
            </div>
            <div class="form-group">
                <%= form.label "Consulta"%>
              <!--<label for="inputDescription">Consulta</label>-->
              <%= form.text_area :consult, class: 'form-control', placeholder: 'Tu consulta aquí',size:"40x6" %>
              <!--<input type="textarea" class="form-control" id="inputLastname" size ="40x6" placeholder="Consulta">-->
            </div>
          
       <%= form.submit "Enviar", class:"btn btn-primary actions" %>
      <!--<button type="submit" class="btn btn-primary">enviar</button>-->
    <% end %>
  </div>
   <div class="maps col-5">
      
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.450340322069!2d-70.77229218424108!3d-33.43757190423866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c233fcec57c7%3A0xde8d59f24c90da74!2sCerro%20La%20Campana%201095%2C%20Pudahuel%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1583842449094!5m2!1ses-419!2scl" width="1060" height="698" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    
   </div>
</div>   






















