<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_ini %>
    <%= form.text_field :date_ini %>
  </div>

  <div class="field">
    <%= form.label :quotes %>
    <%= form.text_field :quotes %>
  </div>

  <div class="field">
    <%= form.label :date_fini %>
    <%= form.text_field :date_fini %>
  </div>

  <div class="field">
    <%= form.label :mount %>
    <%= form.text_field :mount %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
